mixin dotted-progress-bar(skillsList)
    ul.skills-list
    each skill in skillsList
        li.skills-list__list-item
            div.skill-block-dotted
                h3.skill-block-dotted__skill-title=skill.title
                div.skill-block-dotted__skill-level-block(data-skill-level=skill.level)
                    - for (var i = 0; i <= 12; i++)
                        if i > skill.level
                            i.skill-level-unit *
                        else
                            i.skill-level-unit #