doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="dist/common.css")
    body
        div.container
            h1 Привет мир
        script(src="dist/build.js")