@include font-face('MyriadPro Regular', '../fonts/Regular/MyriadPro-Regular', null, null, ttf eot woff svg);
@include font-face('MyriadPro Bold', '../fonts/Bold/MyriadPro-Bold', null, null, ttf eot woff svg);
@include font-face('MyriadPro Light SE', '../fonts/Light SE/MyriadPro-Light-SE', null, null, ttf eot woff svg);