@import "normalize/import-now";
@import "typography";
@import "../components/block-wrapper/block-wrapper.scss";

html {
  font-size: $base-font-size;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

.column-1 {
  width: 100%;
}

.column-2 {
  width: 100%;
}
