@import "normalize/import-now";
@import "typography";
@import "../components/block-wrapper/block-wrapper.scss";
@import "../components/text-block/text-block-scss";

$base-font-family: "MyriadPro Regular", sans-serif;

html {
  font-size: $base-font-size;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 2480px;
  padding: 6.129032258064516% 4.637096774193548% 6.129032258064516% 4.919354838709677%;
  margin: 0 auto;

  @include media(map-deep-get($devices, "tablet")) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  @include media(map-deep-get($devices, "desktop")) {
    display: grid;
    grid-template-columns: [col-1-start] 36.9% [col-gap] 56.2% [col-2-end];
    grid-template-rows: [row-1-start] max-content [row-1-end] 1fr [row-2-end];
    grid-column-gap: 6.9%;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 2.902055622732769%;
  margin-bottom: 17.352941%;

  @include media(map-deep-get($devices, "tablet")) {
    order: 1;
  }

  @include media(map-deep-get($devices, "desktop")) {
    grid-column-start: col-1-start;
    grid-column-end: col-gap;
    grid-row-start: row-1-start;
    grid-row-end: row-1-end;
  }

  &__applicant-name {
    $min_font_size: 25px;
    $max_font_size: 36px;

    @include reset-pad-marg();
    margin-top: 7.2%;
    @include fluid-type(map-deep-get($devices, "mobile-s"), map-deep-get($devices, "mobile-l"), $min_font_size, $max_font_size);
    font-family: "MyriadPro Light SE", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    @include media(map-deep-get($devices, "mobile-l")) {
      $min_font_size: 36px;
      $max_font_size: 57px;

      @include fluid-type(map-deep-get($devices, "mobile-l"), map-deep-get($devices, "tablet"), $min_font_size, $max_font_size);
    }

    @include media(map-deep-get($devices, "desktop")) {
      $min_font_size: 38px;
      $max_font_size: 104px;
      @include fluid-type(map-deep-get($devices, "desktop"), 2048px, $min_font_size, $max_font_size);
    }
  }

  &__applicant-surname {
    $min_font_size: 36px;
    $max_font_size: 47px;

    @include reset-pad-marg();
    //font-size: 123px;
    @include fluid-type(map-deep-get($devices, "mobile-s"), map-deep-get($devices, "mobile-l"), $min_font_size, $max_font_size);
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;

    @include media(map-deep-get($devices, "mobile-l")) {
      $min_font_size: 50px;
      $max_font_size: 77px;

      @include fluid-type(map-deep-get($devices, "mobile-l"), map-deep-get($devices, "tablet"), $min_font_size, $max_font_size);
    }

    @include media(map-deep-get($devices, "desktop")) {
      $min_font_size: 57px;
      @include fluid-type(map-deep-get($devices, "desktop"), 2048px, $min_font_size, 123px);
    }

    @include media(map-deep-get($devices, "desktop-l") + 1px) {
      margin-top: -20px;
      letter-spacing: 6px;
    }
  }

  &__desired-position {
    $min_font_size: 13px;
    $max_font_size: 18px;

    @include reset-pad-marg();
    @include fluid-type(map-deep-get($devices, "mobile-s"), map-deep-get($devices, "mobile-l"), $min_font_size, $max_font_size);
    letter-spacing: 1px;
    font-family: "MyriadPro Regular", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    @include media(map-deep-get($devices, "mobile-l")) {
      $min_font_size: 17px;
      $max_font_size: 25px;

      @include fluid-type(map-deep-get($devices, "mobile-l"), map-deep-get($devices, "tablet"), $min_font_size, $max_font_size);
    }

    @include media(map-deep-get($devices, "desktop")) {
      $min_font_size: 17px;
      $max_font_size: 50px;
      @include fluid-type(map-deep-get($devices, "desktop"), 2048px, $min_font_size, $max_font_size);
    }
  }
}

.applicant-photo-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 56.2273276904474%;
  padding: 3.264812575574365%;
  border: 1px solid $base-color;
  @include vendor-prefix(border-radius, 50%);

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__applicant-photo {
    width: 100%;
    @include vendor-prefix(border-radius, 50%);
    background-color: $base-color;
  }
}

.column-1 {
  width: 100%;

  @include media(map-deep-get($devices, "tablet")) {
    order: 2;
    width: 45%;
  }

  @include media(map-deep-get($devices, "desktop")) {
    grid-column-start: col-1-start;
    grid-column-end: col-gap;
    grid-row-start: row-1-end;
    grid-row-end: row-2-end;
    width: 100%;
  }
}

.column-2 {
  width: 100%;

  @include media(map-deep-get($devices, "tablet")) {
    order: 3;
    width: 45%;
  }

  @include media(map-deep-get($devices, "desktop")) {
    grid-column-start: col-gap;
    grid-column-end: col-2-end;
    grid-row-start: row-1-start;
    grid-row-end: row-2-end;
    width: 100%;
  }
}
